# Override github linguistic detection (which is wrong)
DETAILS linguist-language=Shell
BUILD linguist-language=Shell
PRE_BUILD linguist-language=Shell
POST_BUILD linguist-language=Shell
POST_INSTALL linguist-language=Shell
DEPENDS linguist-language=Shell
CONFIGURE linguist-language=Shell
PRE_REMOVE linguist-language=Shell
POST_REMOVE linguist-language=Shell
