
#
# simple tab completion for make! =^)
#

# Turn on extended globbing
shopt -s extglob

_make ()
{
	local cur
	cur=${COMP_WORDS[COMP_CWORD]}
	COMPREPLY=( $( compgen -W "`grep ^[a-zA-Z0-9_]*: [mM]akefile | cut -d: -f1`" $cur ))

}

complete -F _make make

