# requires >= Bash 4.3
# note: the prompt will not be updated if you use a custom PS1 which contains a newline character
set editing-mode vi
set keymap vi-command
set show-mode-in-prompt on
# if it's configured correctly, your prompt will be prefixed with a `+` while in insert mode and a `:` when in command mode.

# vi settings
$if mode=vi
  set keymap vi-insert
  "kj": vi-movement-mode # remap escape
$endif

#set bell-style none
set bell-style visible
