# this makes your prompt nice if it is supported:
if [ $UID -ge 100 ]; then
    prompt_colour="\[\033[0;36m\]"
elif [ $UID == 0 ]; then
    prompt_colour="\[\033[0;32m\]"
else
    prompt_colour="\[\033[0;35m\]"
fi

no_colour="\[\033[0m\]"

# only set titlebar in a capable terminal:
case $TERM in
    rxvt*|xterm*|gnome*|konsole*)
        long_title='\u@\h \w'
        short_title='\W'
        titlebar="\[\033]0;$short_title\007\033]2;$long_title\007\]"
        ;;
    *)
    	titlebar=""
        ;;
esac

# here we set our prompt:
export	PS1="${titlebar}$prompt_colour\u@\h \w \\$ $no_colour"
export	PS2='> '

eval `dircolors`
