# provides useful aliases

# cd aliases
alias 'cd..'='cd ..'
alias '..'='cd ..'
alias '...'='cd ../..'
alias '~'='cd'

# ls aliases
alias ls='ls --color=auto $LS_OPTIONS'
alias ll='ls -lh'
alias la='ll -a'
alias lt='ls -t'
alias lr='ll -R --group-directories-first'

# grep aliases
alias grep='grep --color=auto'
