[Unit]
Description=Device-mapper event daemon FIFOs
DefaultDependencies=no

[Socket]
ListenFIFO=/run/dmeventd-server
ListenFIFO=/run/dmeventd-client
SocketMode=0600

[Install]
WantedBy=sockets.target
