[Unit]
Description=Linux Volume Manager Activation
DefaultDependencies=no
Requires=systemd-udev-settle.service
After=systemd-udev-settle.service
Before=basic.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/vgchange --sysinit --available y
ExecStop=/usr/sbin/vgchange  --sysinit --available n

[Install]
WantedBy=basic.target
