[Unit]
Description=dhclient on %I
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=forking
EnvironmentFile=/etc/config.d/network/%I
ExecStart=/usr/sbin/dhclient -q $DHCP_OPTIONS %I
ExecStop=/usr/sbin/dhclient -r %I
ExecStop=/usr/sbin/ip link set dev %I down

[Install]
WantedBy=multi-user.target
