[Unit]
Description=Network connecitivity on %I
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/config.d/network/%I
ExecStart=/usr/sbin/ip link set dev %I up
ExecStart=/usr/sbin/ip addr add ${ADDRESS}/${NETMASK} broadcast ${BROADCAST} dev %I
ExecStop=/usr/sbin/ip addr flush dev %I
ExecStop=/usr/sbin/ip link set dev %I down

[Install]
WantedBy=multi-user.target
