[Unit]
Description=dhpcd on %I
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=forking
EnvironmentFile=/etc/config.d/network/%I
PIDFile=/run/dhcpcd-%I.pid
ExecStart=/usr/sbin/dhcpcd -A -q -w $DHCP_OPTIONS %I
ExecStop=/usr/sbin/dhcpcd -k %I
ExecStop=/usr/sbin/ip link set dev %I down

[Install]
WantedBy=multi-user.target
