[Unit]
Description=OpenSSH Daemon - daemon version
After=syslog.target 

[Service]
ExecStart=/usr/sbin/sshd -D
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

