[Unit]
Description=Create sshd host keys (one time service only)
ConditionPathExists=|!/etc/ssh/ssh_host_rsa_key
ConditionPathExists=|!/etc/ssh/ssh_host_dsa_key

[Service]
Type=oneshot
ExecStart=/usr/bin/make -C /etc/ssh server-keys
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

