[Unit]
Description=SSH Per-Connection Server - no daemon version
After=syslog.target 

[Service]
ExecStart=-/usr/sbin/sshd -i
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket

[Install]
WantedBy=network.target
