[Unit]
Description=SSH Per-Connection Server - no daemon version
Conflicts=sshd.service

[Socket]
ListenStream=22
Accept=yes

[Install]
WantedBy=sockets.target
