# Turn on extended globbing
shopt -s extglob

# ssh hostname completion

_ssh ()
{
  local cur
  cur=${COMP_WORDS[COMP_CWORD]}
  COMPREPLY=( $( compgen -W "`cat $HOME/.ssh/known_hosts | cut -d' '  -f1 | sed 's:,: :g'`" $cur ) )
}
complete -F _ssh ssh

